@model Course
<div id="wrapper-content"><!-- PAGE WRAPPER-->
    <div id="page-wrapper"><!-- MAIN CONTENT-->
        <div class="main-content"><!-- CONTENT-->
            <div class="content">
                <div class="section background-opacity page-title set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper"><!--.page-title-content--><h2 class="captions">Course Details</h2>
                            <ol class="breadcrumb">
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="courses.html">Courses</a></li>
                                <li class="active"><a href="#">Courses Details</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="section section-padding courses-detail">
                    <div class="container">
                        <div class="courses-detail-wrapper">
                            <div class="row">
                                <div class="col-md-9 layout-left"><h1 class="course-title">@Model.Name</h1>

                                    <div class="course-info info">
                                        <div class="author item"><a href="#"><span>By&nbsp;</span><span>@Model.Teacher.FirstName @Model.Teacher.LastName</span></a></div>
                                        <div class="date-time item"><a href="#">@Model.StartDate?.ToString("dd MMM yyyy")</a></div>
                                    </div>
                                    <div class="course-video">
                                        <iframe src="@Model.YouTubeURL" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="course-des">
                                        <div class="course-des-title underline">Courses Info</div>
                                        <div class="course-des-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius ultricies metus. Donec ac ex porta libero venenatis sodales. Sed efficitur eget risus sed molestie. Nulla blandit bibendum metus ut sagittis. Etiam quis semper justo. Sed tristique facilisis felis ut tincidunt. Phasellus auctor convallis nisl ut accumsan. Suspendisse ullamcorper fermentum lectus, vel tincidunt ligula mollis sit amet. Aliquam at ante at elit efficitur tincidunt a quis neque. Donec ut pulvinar metus. Pellentesque lobortis volutpat eros sed sagittis. Nunc rutrum ex eu auctor tristique. Maecenas suscipit vestibulum nunc nec placerat. Phasellus blandit augue nunc, consequat consectetur augue placerat sed. Aenean fermentum scelerisque lectus, sit amet ultricies ex interdum bibendum. Quisque porttitor, enim maximus convallis gravida, dui
                                            arcu lacinia libero, quis ornare nibh elit pharetra massa.</p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius ultricies metus. Donec ac ex porta libero venenatis sodales. Sed efficitur eget risus sed molestie. Nulla blandit bibendum metus ut sagittis. Etiam quis semper justo. Sed tristique facilisis felis ut tincidunt. Phasellus auctor convallis nisl ut accumsan. Suspendisse ullamcorper fermentum lectus, vel tincidunt ligula mollis sit amet. Aliquam at ante at elit efficitur tincidunt a quis neque. Donec ut pulvinar metus. Pellentesque lobortis volutpat eros sed sagittis.</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 sidebar layout-right">
                                    <div class="row">
                                        <div class="course-price-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                            <div class="content-widget">
                                                <div class="course-price-widget-wrapper">
                                                    <div class="row">
                                                        <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                            <div class="pull-left title">Length:</div>
                                                            <div class="pull-right length">@Model.Length</div>
                                                        </div>
                                                        <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                            <div class="pull-left title">Level:</div>
                                                            <div class="pull-right level">@Model.Level</div>
                                                        </div>
                                                        <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                            <div class="pull-left title">Price:</div>
                                                            <div class="pull-right firgue">@Model.Price</div>
                                                        </div>
                                                        <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                            <div class="pull-left title">Rate:</div>
                                                            <div title="Rated 5.00 out of 5" class="pull-right star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    @*<button class="btn btn-green"><span>join now</span></button>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="author-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                            <div class="title-widget">About @Model.Teacher.FirstName @Model.Teacher.LastName</div>
                                            <div class="content-widget">
                                                <div class="staff-item author-widget-wrapper customize">
                                                    <div class="staff-item-wrapper">
                                                        <div class="staff-info"><a href="#" class="staff-avatar">
                                                            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Teacher.Photo == null ? new byte [] {} : Model.Teacher.Photo))" />
                                                            </a><a href="#" class="staff-name">@Model.Teacher.FirstName @Model.Teacher.LastName</a>
                                                            <div class="staff-desctiption">
                                                                @Model.Teacher.Introduction    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="staff-socials">
                                                        <a href="@Model.Teacher.Facebook" class="facebook">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                        @*<a href="#" class="google">
                                                            <i class="fa fa-google-plus">
                                                            </i>
                                                        </a>
                                                        <a href="#" class="twitter">
                                                            <i class="fa fa-twitter">
                                                            </i>
                                                        </a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>